body {
	margin-top: 30px;
	background-color: orange;
}

span {
	padding: 0 10px 0 10px;
}

#temp {
	font-size: 4.5em;
	display: inline-block;
}

#desc {
	font-size: 1.5em;
}

.ui.grid>.row {
	padding: 0.5rem 0;
}